

nav {
border: 2px solid red;
background-color: lightgrey;
}

ul {
  display: inline-block;
  padding: 5px;
  border: 2px white;
  background-color: darkgrey;
  color: white;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
 
  
}
div#left-column {
  float: left;
  background-color: blue;
  width: 29%;
  height: 100vh;
}
div#right-column {
  background-color: aquamarine;
  float: right;
  width: 70%;
  height: 100vh;

}